* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
}

.link {
  text-decoration: none;
  font-family: 'Poppins';
}

.header {
  background-color: #455A64;
  height: 40px;
}

.navigation{
  width: fit-content;
  margin: 0 auto;
  height: 100%;
}

.navigation__list {
  display: flex;
  list-style-type: none;
  height: 100%;
}

.navigation__link {
  color: rgb(255, 255, 255);
  font-size: 18px;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.navigation__link:hover {
  background-color: chocolate;
  color: rgb(0, 0, 0);
}


/* ================== main =============== */

main {
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}

.pull__management {
  width: 1300px;
  margin: 20px 0 20px 0;
  display: grid;
  grid-template-columns: 3fr 1fr 3fr;
}

.managment__button {
  height: 100%;
  border-radius: 6px;
  border: 1px solid rgb(0, 0, 0);
  padding: 5px 10px;
  cursor: pointer;
}



.pull__content {
  width: fit-content;
  min-width: 1300px;
  height: fit-content;
  margin: 0 auto 50px auto;
}

.pull__info {
  position: relative;
}


.pull__table {
  width: 1000px;
  height: fit-content;
  position: absolute;
  transform: translateX(-50%);
  top: 0;
  left: 50%;
  font-size: 16px;
  border: 1px solid rgb(0, 0, 0);
  border-collapse: collapse;
}

.pull__categoriesList {
  padding: 5px;
  font-size: 14px;
  border-radius: 5px;
}

.pull__table_hide {
  visibility: hidden;
}

.consolidate__cell {
  border: 1px solid rgb(0, 0, 0);
  box-sizing: border-box;
  padding: 5px;
}

.consolidate__row:nth-child(odd) {
  background-color: #cfd8dc;
}

.consolidate__cell_center {
  text-align: center;
}

.consolidate__header {
  background-color: #b0bec5;
}

.pull__content-wrapper {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 350px repeat(5, 30px) 350px repeat(5, 30px) 350px;
  grid-template-rows: 1fr;
}

.pull__content_item {
  width: 100%;
  height: 100%;
}

.pull__content_item {
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.pull__fighter, .pull__winner {
  width: 100%;
  height: 65px;
  border: 1px solid rgb(0, 0, 0);
  border-left: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pull__fighter_hide {
  display: none;
}

.pull__winner {
  margin: auto 0;
}

.pull__draw {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pull__draw_grid {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.pull__draw_grid::before, .pull__draw_grid::after {
  display: block;
  flex: 0.25 0 0;
  content: "";
}

.pull__draw_line {
  width: 100%;
  flex: 0.25 0 0;
}

.line__top {
  border-top: 1px solid rgb(0, 0, 0);
  border-right: 1px solid rgb(0, 0, 0);
}

.line__bottom {
  border-bottom: 1px solid rgb(0, 0, 0);
  border-right: 1px solid rgb(0, 0, 0);
}

.pull__draw_number {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid rgb(0, 0, 0);
  box-sizing: border-box;
  transform: translate(50%, -50%);
  top: 50%;
  right: 0;
  z-index: 10;
  background-color: aquamarine;
}

.pull__draw_right .line__top, .pull__draw_right .line__bottom {
  border-right: none;
  border-left: 1px solid rgb(0, 0, 0);
}

.pull__draw_right .pull__draw_number {
  transform: translate(-50%, -50%);
  left: 0;
}

.line__final {
  flex-grow: 0;
  border-top: 1px solid rgb(0, 0, 0);
}

.draw__grid_single .line__top {
  border-right: none;
}

.draw__grid_single::after {
  display: none;
}

.draw__grid_single .pull__draw_number,  .draw__grid_single .line__bottom{
  display: none;
}

.pull__draw_right .draw__grid_single .line__top {
  border-left: none;
}

.draw__right_hide {
  display: none;
}

.pull__content-wrapper_small {
  grid-template-columns: 350px repeat(5, 1fr) 350px;
}

.pull__content-wrapper_verysmall {
  grid-template-columns: 350px repeat(4, 1fr) 350px;
}

.participiantsList_right_hide {
  display: none;
}

.pull__draw_hide {
  display: none;
}

.pull__pair_hide {
  display: none;
}

.pull__pair_shift {
  position: relative;
  top: -6%;
}
